#cloud-config
ssh_pwauth: true
users:
  - name: REPLACE_WITH_USER
    lock_passwd: false
    sudo: ALL=(ALL) ALL
    groups: sudo

# - パスワード認証を確実に有効化したい場合cicustom を設定:
#   cicustom = "user=local:snippets/password-auth.yml"
