# Managed by Ansible (role monitoring_server)
GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
GF_AUTH_GITHUB_CLIENT_ID={{ grafana_github_client_id }}
GF_AUTH_GITHUB_CLIENT_SECRET={{ grafana_github_client_secret }}
